apiVersion: v1
kind: Service
metadata:
  name: springboot-webapp-svc
  labels:
    app-svc: springboot-webapp
spec:
  selector:
    app-pod: springboot-webapp
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  labels:
    app-group: monitoring
    app: prometheus  
spec:
  selector:
    app-group: monitoring
    app: prometheus
  ports:
  - name: http
    protocol: TCP
    port: 9090
    targetPort: 9090
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  labels:
    app-group: monitoring
    app: grafana  
spec:
  selector:
    app-group: monitoring
    app: grafana
  ports:
  - name: http
    protocol: TCP
    port: 3000
    targetPort: 3000
